# –ê–Ω–∞–ª–∏–∑ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤ –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥.

## –¶–µ–ª—å –ø—Ä–æ–µ–∫—Ç–∞

–¶–µ–ª—å—é –ø—Ä–æ–µ–∫—Ç–∞ —è–≤–ª—è–µ—Ç—Å—è –∞–Ω–∞–ª–∏–∑ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö –º–æ–±–∏–ª—å–Ω–æ–≥–æ –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è, –ø—Ä–µ–¥—Å—Ç–∞–≤–ª—è—é—â–µ–≥–æ —Å–æ–±–æ–π —Å–µ—Ä–≤–∏—Å –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥ –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ.
–†–µ–∑—É–ª—å—Ç–∞—Ç—ã –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è –ø–æ–º–æ–≥—É—Ç —Å—Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∞—Ç—å —Ü–µ–Ω–Ω–æ—Å—Ç–Ω–æ–µ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ –¥–ª—è –Ω–æ–≤–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞.

## –ó–∞–¥–∞—á–∏ –ø—Ä–æ–µ–∫—Ç–∞

–í —ç—Ç–æ–º –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–∏ —Ç—Ä–µ–±—É–µ—Ç—Å—è –≤—ã–ø–æ–ª–Ω–∏—Ç—å —Å–ª–µ–¥—É—é—â–∏–µ –∑–∞–¥–∞—á–∏:
* –ø–æ—Å—á–∏—Ç–∞—Ç—å, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞;
* –¥–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É;
* –æ–ø—Ä–µ–¥–µ–ª–∏—Ç—å –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü ‚Äî —Ç–∞–∫ –≤—ã –∏—Å–∫–ª—é—á–∏—Ç–µ –∏–∑ –∞–Ω–∞–ª–∏–∑–∞ –±—Ä–æ—à—é—Ä—ã;
* –æ–ø—Ä–µ–¥–µ–ª–∏—Ç—å –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ ‚Äî —É—á–∏—Ç—ã–≤–∞–π—Ç–µ —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏;
* –ø–æ—Å—á–∏—Ç–∞–π—Ç—å —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫.

## –û–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

–î–ª—è –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è –ø—Ä–µ–¥–æ—Å—Ç–∞–≤–ª–µ–Ω–∞ –±–∞–∑–∞ –¥–∞–Ω–Ω—ã—Ö —Å–æ —Å–ª–µ–¥—É—é—â–∏–º–∏ —Ç–∞–±–ª–∏—Ü–∞–º–∏: **books, authors, publishers, ratings, reviews**. 

–¢–∞–±–ª–∏—Ü–∞ **books** c–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –∫–Ω–∏–≥–∞—Ö:
* book_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
* author_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
* title ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–Ω–∏–≥–∏;
* num_pages ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–∞–Ω–∏—Ü;
* publication_date ‚Äî –¥–∞—Ç–∞ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –∫–Ω–∏–≥–∏;
* publisher_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—è.

–¢–∞–±–ª–∏—Ü–∞ **authors** c–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∞–≤—Ç–æ—Ä–∞—Ö:
* author_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
* author ‚Äî –∏–º—è –∞–≤—Ç–æ—Ä–∞.

–¢–∞–±–ª–∏—Ü–∞ **publishers** c–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö:
* publisher_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;
* publisher ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;

–¢–∞–±–ª–∏—Ü–∞ **ratings** c–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ—Ü–µ–Ω–∫–∞—Ö –∫–Ω–∏–≥:
* rating_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ—Ü–µ–Ω–∫–∏;
* book_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
* username ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –æ—Å—Ç–∞–≤–∏–≤—à–µ–≥–æ –æ—Ü–µ–Ω–∫—É;
* rating ‚Äî –æ—Ü–µ–Ω–∫–∞ –∫–Ω–∏–≥–∏.

–¢–∞–±–ª–∏—Ü–∞ **reviews** c–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ–±–∑–æ—Ä–∞—Ö:
* review_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ–±–∑–æ—Ä–∞;
* book_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
* username ‚Äî –∏–º—è –∞–≤—Ç–æ—Ä–∞ –æ–±–∑–æ—Ä–∞;
* text ‚Äî —Ç–µ–∫—Å—Ç –æ–±–∑–æ—Ä–∞.

### –°—Ö–µ–º–∞ –¥–∞–Ω–Ω—ã—Ö.

<img src="https://pictures.s3.yandex.net/resources/scheme_1589269096.png" width="600" height="300">

## –†–µ–∑—É–ª—å—Ç–∞—Ç—ã

–ò–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫–∏, –∫–æ—Ç–æ—Ä—ã–µ –∏—Å–ø–æ–ª—å–∑—É—é—Ç—Å—è –≤ —ç—Ç–æ–º –ø—Ä–æ–µ–∫—Ç–µ.

In [1]:
# –∏–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫–∏
import pandas as pd
from sqlalchemy import text, create_engine

–ó–∞–¥–∞–¥–∏–º –ø–∞—Ä–∞–º–µ—Ç—Ä—ã –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è –∫ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö.

In [2]:
# —É—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º –ø–∞—Ä–∞–º–µ—Ç—Ä—ã –¥–ª—è –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è –∫ –ë–î

# –ø–∞—Ä–∞–º–µ—Ç—Ä—ã –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è —É–¥–∞–ª–µ–Ω—ã –≤ –≤–µ—Ä—Å–∏–∏ –¥–ª—è github
# db_config = {'user': '', # –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è
#'pwd': '', # –ø–∞—Ä–æ–ª—å
#'host': '',
#'port': , # –ø–æ—Ä—Ç –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è
#'db': ''} # –Ω–∞–∑–≤–∞–Ω–∏–µ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö
connection_string = 'postgresql://{user}:{pwd}@{host}:{port}/{db}'.format(**db_config)
# —Å–æ—Ö—Ä–∞–Ω—è–µ–º –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä
engine = create_engine(connection_string, connect_args={'sslmode':'require'})

–ù–∞–ø–∏—à–µ–º —Ñ—É–Ω–∫—Ü–∏—é get_sql_results() –¥–ª—è –≤—ã–≤–æ–¥–∞ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ –∑–∞–ø—Ä–æ—Å–∞ –∫ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö.

In [3]:
def get_sql_results(query_text, connector):
    """–§—É–Ω–∫—Ü–∏—è  get_sql_results –Ω–∞ –≤—Ö–æ–¥ –ø—Ä–∏–Ω–∏–º–∞–µ—Ç 2 –ø–∞—Ä–∞–º–µ—Ç—Ä–∞: query_text - —Ç–µ–∫—Å—Ç–æ–≤—ã–π –∑–∞–ø—Ä–æ—Å –∫ –±–¥, connector - –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä –∫ –±–¥.
    –í–æ–∑–≤—Ä–∞—â–∞–µ—Ç —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã –∑–∞–ø—Ä–æ—Å–∞ –≤ –≤–∏–¥–µ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ pandas"""
    # —Å–æ–∑–¥–∞–µ–º –ø–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ –ë–î
    con=connector.connect()
    # —á—Ç–æ–±—ã –≤—ã–ø–æ–ª–Ω–∏—Ç—å SQL-–∑–∞–ø—Ä–æ—Å, –∏—Å–ø–æ–ª—å–∑—É–µ–º Pandas
    return pd.io.sql.read_sql(sql=text(query), con = con)

–í—ã–≤–µ–¥–µ–º –ø–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫  –∫–∞–∂–¥–æ–π —Ç–∞–±–ª–∏—Ü—ã.

In [4]:
for table_name in ('books', 'authors', 'ratings', 'reviews', 'publishers'):
    query = f'''SELECT * 
               FROM {table_name} 
               LIMIT 5'''
    print(f'–í—ã–≤–µ–¥–µ–º –ø–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã {table_name}')
    display(get_sql_results(query, engine))

–í—ã–≤–µ–¥–µ–º –ø–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã books

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268

–í—ã–≤–µ–¥–µ–º –ø–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã authors

   author_id                          author
0          1                      A.S. Byatt
1          2  Aesop/Laura Harris/Laura Gibbs
2          3                 Agatha Christie
3          4                   Alan Brennert
4          5        Alan Moore/David   Lloyd

–í—ã–≤–µ–¥–µ–º –ø–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã ratings

   rating_id  book_id       username  rating
0          1        1     ryanfranco       4
1          2        1  grantpatricia       2
2          3        1   brandtandrea       5
3          4        2       lorichen       3
4          5        2    mariokeller       2

–í—ã–≤–µ–¥–µ–º –ø–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã reviews

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...
1,2,1,ryanfranco,Foot glass pretty audience hit themselves. Amo...
2,3,2,lorichen,Listen treat keep worry. Miss husband tax but ...
3,4,3,johnsonamanda,Finally month interesting blue could nature cu...
4,5,3,scotttamara,Nation purpose heavy give wait song will. List...

–í—ã–≤–µ–¥–µ–º –ø–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã publishers

   publisher_id                          publisher
0             1                                Ace
1             2                           Ace Book
2             3                          Ace Books
3             4                      Ace Hardcover
4             5  Addison Wesley Publishing Company

–ü—Ä–æ–≤–µ—Ä–∏–º –ø—Ä–æ–ø—É—Å–∫–∏ –∏ –¥—É–±–ª–∏–∫–∞—Ç—ã –≤ —Ç–∞–±–ª–∏—Ü–∞—Ö –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö.

In [5]:
for table_name in ('books', 'authors', 'ratings', 'reviews', 'publishers'):
    query = f'''SELECT * 
               FROM {table_name}'''
    temp = get_sql_results(query, engine)
    print(f'–ß–∏—Å–ª–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ —Ç–∞–±–ª–∏—Ü–µ: {table_name}')
    display(temp.isna().sum())
    print(f'–ß–∏—Å–ª–æ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –≤ —Ç–∞–±–ª–∏—Ü–µ: {table_name}')
    display(temp.duplicated().sum())

–ß–∏—Å–ª–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ —Ç–∞–±–ª–∏—Ü–µ: books

book_id             0
author_id           0
title               0
num_pages           0
publication_date    0
publisher_id        0
dtype: int64

–ß–∏—Å–ª–æ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –≤ —Ç–∞–±–ª–∏—Ü–µ: books

0

–ß–∏—Å–ª–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ —Ç–∞–±–ª–∏—Ü–µ: authors

author_id    0
author       0
dtype: int64

–ß–∏—Å–ª–æ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –≤ —Ç–∞–±–ª–∏—Ü–µ: authors

0

–ß–∏—Å–ª–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ —Ç–∞–±–ª–∏—Ü–µ: ratings

rating_id    0
book_id      0
username     0
rating       0
dtype: int64

–ß–∏—Å–ª–æ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –≤ —Ç–∞–±–ª–∏—Ü–µ: ratings

0

–ß–∏—Å–ª–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ —Ç–∞–±–ª–∏—Ü–µ: reviews

review_id    0
book_id      0
username     0
text         0
dtype: int64

–ß–∏—Å–ª–æ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –≤ —Ç–∞–±–ª–∏—Ü–µ: reviews

0

–ß–∏—Å–ª–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ —Ç–∞–±–ª–∏—Ü–µ: publishers

publisher_id    0
publisher       0
dtype: int64

–ß–∏—Å–ª–æ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –≤ —Ç–∞–±–ª–∏—Ü–µ: publishers

0

–ü—Ä–æ–ø—É—Å–∫–∏ –∏ –¥—É–±–ª–∏–∫–∞—Ç—ã –≤ —Ç–∞–±–ª–∏—Ü–∞—Ö –æ—Ç—Å—É—Ç—Å—Ç–≤—É—é—Ç.

**1)** –ü–æ—Å—á–∏—Ç–∞–µ–º, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥.

In [6]:
query = '''SELECT COUNT(book_id) 
           FROM books
           WHERE  publication_date > '2000-01-01' '''

books_cnt = get_sql_results(query, engine)
books_cnt

   count
0    819

–ü–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥. –≤—ã—à–ª–æ 819 –∫–Ω–∏–≥, –∫–æ—Ç–æ—Ä—ã–µ —Å–æ–¥–µ—Ä–∂–∞—Ç—Å—è –≤ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö —Å–µ—Ä–≤–∏—Å–∞.

**2)** –í—ã–≤–µ–¥–µ–º —á–∏—Å–ª–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É –¥–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ —Å–µ—Ä–≤–∏—Å–∞.

**–í–µ—Ä—Å–∏—è 1**

In [7]:
query = '''SELECT b.title
                  , COUNT(rev.review_id) AS reviews_count
                  , AVG(rat.rating) AS avg_rating
           FROM books AS b
           LEFT JOIN reviews AS rev on b.book_id = rev.book_id
           LEFT JOIN ratings AS rat on b.book_id = rat.book_id
           GROUP BY b.title'''
books_rating_reviews = get_sql_results(query, engine)
books_rating_reviews

,title,reviews_count,avg_rating
0,The Count of Monte Cristo,115,4.217391
1,Count Zero (Sprawl #2),4,2.500000
2,The Botany of Desire: A Plant's-Eye View of th...,4,3.500000
3,The Poisonwood Bible,110,4.363636
4,The Canterbury Tales,18,3.333333
...,...,...,...
994,Of Love and Other Demons,4,4.500000
995,In the Heart of the Sea: The Tragedy of the Wh...,9,3.333333
996,Welcome to Temptation (Dempseys #1),4,5.000000
997,World's End (The Sandman #8),4,4.500000
998,Holes (Holes #1),155,3.967742

**–í–µ—Ä—Å–∏—è 2**

In [8]:
query = '''SELECT b.book_id, b.title
                  , COUNT (DISTINCT(rev.review_id)) AS reviews_count
                  , AVG(rat.rating) AS avg_rating
           FROM books AS b
           LEFT JOIN reviews AS rev on b.book_id = rev.book_id
           LEFT JOIN ratings AS rat on b.book_id = rat.book_id
           GROUP BY b.book_id
           ORDER BY reviews_count DESC'''
books_rating_reviews = get_sql_results(query, engine)
books_rating_reviews

,book_id,title,reviews_count,avg_rating
0,948,Twilight (Twilight #1),7,3.662500
1,963,Water for Elephants,6,3.977273
2,734,The Glass Castle,6,4.206897
3,302,Harry Potter and the Prisoner of Azkaban (Harr...,6,4.414634
4,695,The Curious Incident of the Dog in the Night-Time,6,4.081081
...,...,...,...,...
995,83,Anne Rice's The Vampire Lestat: A Graphic Novel,0,3.666667
996,808,The Natural Way to Draw,0,3.000000
997,672,The Cat in the Hat and Other Dr. Seuss Favorites,0,5.000000
998,221,Essential Tales and Poems,0,4.000000
999,191,Disney's Beauty and the Beast (A Little Golden...,0,4.000000

–í—ã–≤–µ–¥–µ–º –ø–æ–ª—É—á–µ–Ω–Ω—É—é —Ç–∞–±–ª–∏—Ü—É –µ—â–µ —Ä–∞–∑ —Å —Å–æ—Ä—Ç–∏—Ä–æ–≤–∫–æ–π –ø–æ —É–±—ã–≤–∞–Ω–∏—é —Å—Ä–µ–¥–Ω–µ–≥–æ —Ä–µ–π—Ç–∏–Ω–≥–∞ –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏.

In [10]:
books_rating_reviews.sort_values(by='avg_rating', ascending=False)

,book_id,title,reviews_count,avg_rating
940,967,Welcome to Temptation (Dempseys #1),2,5.00
300,553,School's Out‚ÄîForever (Maximum Ride #2),3,5.00
943,972,Wherever You Go There You Are: Mindfulness Me...,2,5.00
709,418,March,2,5.00
710,421,Marvel 1602,2,5.00
...,...,...,...,...
497,915,The World Is Flat: A Brief History of the Twen...,3,2.25
685,371,Junky,2,2.00
510,202,Drowning Ruth,3,2.00
659,316,His Excellency: George Washington,2,2.00
651,303,Harvesting the Heart,2,1.50

–í—Å–µ–≥–æ –≤ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è 1000 –∫–Ω–∏–≥, –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –æ–±–∑–æ—Ä–æ–≤ (7) - —É –∫–Ω–∏–≥–∏ "Twilight (Twilight #1)". –°—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ –∫–Ω–∏–≥ –∏–∑–º–µ–Ω—è–µ—Ç—Å—è –æ—Ç 1.5 –¥–æ 5.

**3)** –û–ø—Ä–µ–¥–µ–ª–∏–º –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü.

In [11]:
query = ''' SELECT p.publisher_id, p.publisher, COUNT(b.book_id)
            FROM books AS b 
            LEFT JOIN publishers AS p on b.publisher_id=p.publisher_id
            WHERE book_id IN ((SELECT book_id
                               FROM books
                               WHERE num_pages > 50))
            GROUP BY p.publisher_id, p.publisher
            ORDER BY COUNT(b.book_id) DESC
            LIMIT 1;'''
publisher_max_books = get_sql_results(query, engine)
publisher_max_books

   publisher_id      publisher  count
0           212  Penguin Books     42

–í –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö —Å–µ—Ä–≤–∏—Å–∞ –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞ Penguin Books - 42 –∫–Ω–∏–≥–∏.

**4)** –û–ø—Ä–µ–¥–µ–ª–∏–º –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥.

In [12]:
query = '''SELECT a.author, AVG(rat.rating) AS avg_rating
           FROM books AS b
           LEFT JOIN ratings AS rat on b.book_id = rat.book_id
           LEFT JOIN authors AS a on b.author_id=a.author_id
           WHERE b.book_id IN (SELECT b.book_id
                               FROM books AS b
                               LEFT JOIN ratings AS rat ON b.book_id=rat.book_id
                               GROUP BY b.book_id
                               HAVING COUNT(rat.rating_id) >= 50)
          GROUP BY a.author
          ORDER BY avg_rating DESC
          LIMIT 1'''
author_max_rating = get_sql_results(query, engine)
author_max_rating

                       author  avg_rating
0  J.K. Rowling/Mary GrandPr√©    4.287097

–ê–≤—Ç–æ—Ä —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ (—É—á–∏—Ç—ã–≤–∞—é—Ç—Å—è –∫–Ω–∏–≥–∏ —Å 50 –æ—Ü–µ–Ω–∫–∞–º–∏ –∏ –±–æ–ª–µ–µ) - J.K. Rowling –∏ Mary GrandPr√© üßô‚Äç‚ôÇÔ∏è.

**5)** –ü–æ—Å—á–∏—Ç–∞–µ–º —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª–µ–µ 48 –æ—Ü–µ–Ω–æ–∫.

In [13]:
query = '''WITH cnt_rev AS (SELECT username, COUNT(review_id) AS cnt_reviews
                            FROM reviews
                            WHERE username IN (SELECT username
                                               FROM ratings 
                                               GROUP BY username
                                               HAVING COUNT(rating_id) > 48)
                            GROUP BY username)
                                               
           SELECT AVG(cnt_reviews)
           FROM cnt_rev;'''
avg_cnt_reviews = get_sql_results(query, engine)
avg_cnt_reviews

    avg
0  24.0

–£ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫, –≤ —Å—Ä–µ–¥–Ω–µ–º, 24 –æ–±–∑–æ—Ä–∞.

## –û–±—â–∏–π –≤—ã–≤–æ–¥.

–í —ç—Ç–æ–º –ø—Ä–æ–µ–∫—Ç–µ –∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞–ª–∞—Å—å –±–∞–∑–∞ –¥–∞–Ω–Ω—ã—Ö –º–æ–±–∏–ª—å–Ω–æ–≥–æ –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è-—Å—Ç–∞—Ä–ø–∞—Ç–∞, –ø—Ä–µ–¥—Å—Ç–∞–≤–ª—è—é—â–µ–≥–æ —Å–æ–±–æ–π —Å–µ—Ä–≤–∏—Å –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥ –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ.
–ó–∞–∫–∞–∑—á–∏–∫ –ø—Ä–µ–¥–æ—Å—Ç–∞–≤–∏–ª –±–∞–∑—É –¥–∞–Ω–Ω—ã—Ö —Å 5 —Ç–∞–±–ª–∏—Ü–∞–º–∏:
* books - —Å –¥–∞–Ω–Ω—ã–º–∏ –æ –∫–Ω–∏–≥–∞—Ö
* authors - —Å –¥–∞–Ω–Ω—ã–º–∏ –æ–± –∞–≤—Ç–æ—Ä–∞—Ö
* publishers - —Å –¥–∞–Ω–Ω—ã–º–∏ –æ–± –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö
* rating - —Å –¥–∞–Ω–Ω—ã–º–∏ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ—Ü–µ–Ω–∫–∞—Ö 
* reviews - —Å –¥–∞–Ω–Ω—ã–º–∏ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ–±–∑–æ—Ä–∞—Ö. 

–í —Ç–∞–±–ª–∏–∫–∞—Ö –ø—Ä–æ–ø—É—Å–∫–æ–≤ –∏ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –Ω–µ –æ–±–Ω–∞—Ä—É–∂–µ–Ω–æ.

–ü–æ—Å–ª–µ –∞–Ω–∞–ª–∏–∑–∞ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö –ø–æ–ª—É—á–∏–ª–∏—Å—å —Å–ª–µ–¥—É—é—â–∏–µ —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã:

* –≤ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö —Å–µ—Ä–≤–∏—Å–∞ —Å–æ–¥–µ—Ä–∂–∏—Ç—Å—è 819 –∫–Ω–∏–≥, –≤—ã—à–µ–¥—à–∏—Ö –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥.
* –≤—Å–µ–≥–æ –≤ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è 1000 –∫–Ω–∏–≥, –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –æ–±–∑–æ—Ä–æ–≤ (7) - —É –∫–Ω–∏–≥–∏ "Twilight (Twilight #1)". –°—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ –∫–Ω–∏–≥ –∏–∑–º–µ–Ω—è–µ—Ç—Å—è –æ—Ç 1.5 –¥–æ 5.
* –≤ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö —Å–µ—Ä–≤–∏—Å–∞ –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞ Penguin Books - 42 –∫–Ω–∏–≥–∏.
* –∞–≤—Ç–æ—Ä —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ (—É—á–∏—Ç—ã–≤–∞–ª–∏—Å—å –∫–Ω–∏–≥–∏ —Å 50 –æ—Ü–µ–Ω–∫–∞–º–∏ –∏ –±–æ–ª–µ–µ) - J.K. Rowling –∏ Mary GrandPr√© üßô‚Äç‚ôÇÔ∏è.
* —É –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫, –≤ —Å—Ä–µ–¥–Ω–µ–º, 24 –æ–±–∑–æ—Ä–∞.